h1{
    color:yellow;
}
h3{
    color: white;
}
body {
    margin: auto;
    text-align: center;
    width: 60%;
    background-color: rgb(50,70,177);
}
header {
	text-align: center;	
	background-color: green;
}
footer {
	background-color:brown;
}